@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(162, 205, 218);
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    text-align: justify;
}
header{
    padding:10px;
}
header > h1{
    background-color: blue;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    width: auto;
    margin: 5px auto 20px auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.384);
}

header> nav> a{
    text-decoration: none;
    color:rgb(2, 1, 66);
    font-style:italic;
    margin-left: 10px;
}
header> nav> a:hover{
    color: white;
    background-color: rgb(2, 1, 66);
    border-radius: 10px;
    padding: 5px;
}
main {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px 3px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 5px 7px 19px 0px rgba(0, 0, 0, 0.459);
}
main> section> h2{
    text-align: center;
    background-color: rgb(2, 9, 53);
    border-radius: 50px;
    padding: 5px;
    border: 10px double rgb(0, 238, 255);
    color: white;

}
main> section>article> aside >p{
    background-color: rgb(9, 1, 29);
    color: white;
    height: 25px;
    width: auto;
    margin: 3px auto;
    line-height: 25px;
    padding-left: 8px;
    border-radius: 5px;  
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
footer> p{
    margin: 4px;
}
#bola {
    height: 100px;
    width: 100px;
    background-color: rgb(2, 9, 53);
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: inset 0 0 20px 10px rgba(255, 255, 255, 0.397); 
}
.txt {
    margin: 10px 5px;
}
.link {
    text-decoration: none;
    border: 2px solid rgb(2, 9, 53);
    border-radius: 50%;
    display: inline-block;
    margin: 1px 2px;
    padding: 0px 5px;
    color: rgb(14, 2, 68);
    
}
.link:hover {
    background-color: rgb(6, 2, 61);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.384);
}